@{
    ViewData["Title"] = "My Queues";
}

<h1 class="mb-4">My Queues</h1>

<a class="btn btn-primary mb-3"
   asp-action="Create">
    Create New Queue
</a>

<div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
        <thead class="table-light">
            <tr class="align-middle">
                <th>Name</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Avg. Service Time</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Auto Service – Oil Change</strong>
                    <div class="text-muted small">
                        Standard oil change and basic inspection
                    </div>
                </td>

                <td>
                    <span class="badge bg-success">Open</span>
                </td>

                <td>12 Jan 2026</td>
                <td>30 min</td>

                <td class="text-center">
                    <div class="d-flex flex-column flex-md-row gap-1 justify-content-center">
                        <a class="btn btn-sm btn-outline-info me-1" asp-action="Details" asp-route-id="1">View</a>
                        <a class="btn btn-sm btn-outline-warning me-1" asp-action="Edit" asp-route-id="1">Edit</a>
                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="1">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
