@{
    ViewData["Title"] = "Public Queue";
}

<h1 class="mb-3">Auto Service – Oil Change</h1>

<p>
    Status: <span class="badge bg-success">Open</span><br />
    People waiting: 4<br />
    Average service time: 15 minutes
</p>

<a class="btn btn-primary mt-3"asp-action="Join">Join Queue</a>
